<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_anonymous %}
        <a href="{% url 'login' %}?next=/">Login</a>
    {% else %}
        <span>{{ request.user.username }}</span>
        <a href="{% url 'logout' %}?next=/">Logout</a>
    {% endif %}

    <h1>{{ site.url }}</h1>
    
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</body>
</html>